body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(128, 195, 249));
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}


.brand {
    font-size: 48px;
    font-weight: bold;
    color: #007BFF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    margin-top: 20px;

}


.container {
    width: 350px;
    border-radius: 12px;
    padding: 30px;
    overflow-y: auto;
    text-align: center;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    background: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
    max-height: 70vh;
}


.container::-webkit-scrollbar {
    width: 15px;
    border-radius: 12px;
}


.container::-webkit-scrollbar-track {
    background: #f0f0f0; 
    border-radius: 12px;
}


.container::-webkit-scrollbar-thumb {
    background-color: #e0e0e0;
    border: 2px solid #f0f0f0; 
    border-radius: 12px;
}


.container::-webkit-scrollbar-thumb:hover {
    background-color: rgb(216, 216, 216);
}


.container h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    margin-top: 5px;
}


.form-group {
    margin-bottom: 20px;
    text-align: left;
}


.form-group label {
    font-size: 14px;
    font-weight: bold;
    color: #555;
    display: block;
    margin-bottom: 5px;
}


.form-group input {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}


.form-group input:focus {
    border-color: #42a5f5;
    outline: none;
    box-shadow: 0 0 5px rgba(66, 165, 245, 0.4);
}


.btn {
    display: block;
    width: 100%;
    padding: 12px;
    background: #007BFF;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}


.btn:hover {
    background: #0056b3;
}


.back-button {
    position: absolute;
    top: 20px;
    left: 2.5%;
}


.back-button-style {
    font-size: 16px;
    padding: 10px 20px;
}


.logout-button {
    position: absolute;
    top: 20px;
    right: 20px;
}


.logout-button-style {
    background: #dc3545;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.logout-button-style:hover {
    background: #c82333;
}


.messages {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}


.message {
    font-size: 14px;
    margin-bottom: 5px;
}


.message.error {
    color: red;
}


.message.success {
    color: green;
}
